$bg: #1b2771;
$fontColor: white;
$linkColor: #07daf1;

$errColor: red;

$divBorderColor: #00a7e6;

$btnBg: #5dd7ee;
$btnFontColor: white;
$btnBoxShadow: rgba(18, 18, 43, 0.3);

$txtColor: #c2c1e1;
$notesColor: #9492c4;

$tableSeparationColor: #2839a6;
